**/*/.vscode/settings.json
.vscode/settings.json
/secrets
/api/internal/mid/auth.go
/api/internal/schema/migrations/
/api/internal/schema/seeds/products.sql
/api/__debug_bin
/api/tls/*
.env
main
c.out
coverage.html