*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --green: #7ed46fe5;
  --red-orange: #d1491fe0;
}

body {
  box-sizing: border-box;
  font: normal 400 24px/1.7 Helvetica, Arial, sans-serif;
  color: #777;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      var(--green),
      var(--red-orange)
    ),
    url("/bg.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__logo-box {
    position: absolute;
    @media screen and (min-width: 768px) {
      top: 40px;
      left: 40px;
    }
    @media screen and (max-width: 767px) {
      top: 10px;
      width: 100%;
      text-align: center;
    }
  }

  &__logo {
    height: 35px;
  }
  &__text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;

    &-title {
      display: block;
      font-size: 45px;
    }
    &-subtitle {
      display: block;
      font-size: 18px;
    }
    @media screen and (min-width: 768px) {
      &-title {
        font-weight: 400;
        letter-spacing: 35px;
        text-indent: 35px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      &-subtitle {
        margin-bottom: 20px;
        font-weight: 400;
        letter-spacing: 17.4px;
        text-indent: 17.4px;
        font-style: italic;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        animation: moveInRight 1s ease-out;
      }
    }
  }

  &__cta {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
      }

      &--white {
        color: #777;
        background: #fff;
      }

      &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
      }
    }
  }
}

.main {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  height: 98vh;
  color: #fff;
  animation: moveInBottom 0.65s ease-out 1.4s;
  animation-fill-mode: backwards;

  &__pitch {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    @media screen and (max-width: 767px) {
      &-title,
      &-discount {
        display: none;
      }
    }
  }
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
